---
layout: default
---

<div class="main-container">
    <div class="main wrapper clearfix">

        <article>
            <header>
                <h1>The big picture</h1>
                <p>Although my wife and I have the same laptop model the shared IT affinity ends about there. So when I set off to build up my recording setup I had both a user and a power user in mind. We both share the usecases of recording and streaming (videochatting also falls under the latter category) but will interact with the system as user and poweruser.</p>
                <p>The above is another way of saying "I need a one-click solution for a YouTube studio".</p>
                <p>Challenge accepted.</p>
                <p>Still, with this being far bigger a hardware project than I am typically getting myself involved in some general decisions had to be made.</p>
                <p><img src="{{ "/biz/marketing/../planning/images/AudioVideoSetup_WOB38A8_2020-Q3_-_decision-logic.svg" | prepend: site.baseurl }}" alt="usecase diagram" width="100%" style="float: right; border: 0px; margin: 0px"></p>
                <p>Staying on the cheap side should give me much more flexibility, and result in more interchageability of the parts.</p>
            </header>
            <section>
                <h2>Usecases</h2>
                <p>UML Use Case Diagrams show a system or application; then they show the people, organizations, or other systems that interact with it; and finally, they show a basic flow of what the system or application does.</p>
                <p><img src="{{ "/biz/marketing/../planning/images/AudioVideoSetup_WOB38A8_2020-Q3_-_usecase.svg" | prepend: site.baseurl }}" alt="usecase diagram" width="60%" style="border: 0px; margin: 0px"></p>
            </section>
            <section>
                <h2>Sequence of interactions</h2>
                <p>A sequence diagram depicts interaction between objects in a sequential order.</p>
                <p><img src="{{ "/biz/marketing/../planning/images/AudioVideoSetup_WOB38A8_2020-Q3_-_sequence.svg" | prepend: site.baseurl }}" alt="sequence diagram" width="100%" style="float: right; border: 0px; margin: 0px"></p>
            </section>
            <section>
                <h2>Deployment visualization</h2>
                <p>A deployment diagram models the physical deployment of artifacts on nodes.</p>
                <p><img src="{{ "/tec/log/images/AudioVideoSetup_WOB38A8_2020-Q3_-_deployment.svg" | prepend: site.baseurl }}" alt="deployment diagram" width="100%" style="float: right; border: 0px; margin: 0px"></p>
            </section>
            <footer>
                <h3>The hardware setup</h3>

{% assign equipment = site.data.inventory %}
{% comment %}Here is the setup for displayed columns{% endcomment %}
{% assign displayCol = "2,3,7" | split: "," %}

<table style="border-spacing: 10px; border-collapse: separate;">
{% for item in equipment %}
  {% if forloop.first == true %}
    <tr>
    {% for field in item %}
      {% assign indexToStr = forloop.index | append: "" %}
      {% if displayCol contains indexToStr %}
      <th>{{ field[0] }}</th>
      {% endif %}
    {% endfor %}
    </tr>
  {% endif %}

  <tr>
  {% for field in item %}
    {% assign indexToStr = forloop.index | append: "" %}
    {% if displayCol contains indexToStr %}
    <td>{{ field[1] }}</td>
    {% endif %}
  {% endfor %}
  </tr>

{% endfor %}
</table>

                <p>.</p>
            </footer>
        </article>

        <aside>
            <h3>Wife acceptance factor</h3>
            <p>Wife acceptance factor (WAF) is an assessment of design elements that either increase or diminish the likelihood a wife will approve the purchase of expensive consumer electronics products. <a href="https://en.wikipedia.org/wiki/Wife_acceptance_factor">Wikipedia</a></p>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->